div{
    height: 200px;
    width: 200px;
    background-color: orange;
    left: 50px;
}
p{
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    left: 20px;
}
#parent{
    height: 200px;
    width: 200px;
    background-color: blue;
}
#child{
    height: 50px;
    width: 100px;
    top: 100px;
    position: static;
    background-color: violet;
    z-index: 3;
}
#fixed{
    position:fixed;
    top: 50px;
    left:100px;
}
#sticky{
    background-color: brown;
    position: sticky;
    top:600px;
    left:20px;
    z-index: -1;
}