body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* transform: translateX(85%) translateY(-600%); */
    color: #17D4FE;
    font-family: 'Orbitron',sans-serif;
    font-size: 60px;
    letter-spacing: 7px;
   


}