div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 2px solid black;
    outline: 2px solid red;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: darkmagenta;
    outline: violet;
}
#div1 nav{
    height: 200px;
    width:200px;
    background-color: turquoise;
}
#a1{
color: magenta;
}
#a2{
color: sienna;
}
p+h1{
color: darkcyan;
}
p h1{
color: green;
}
*{
    color: blanchedalmond;
}